* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  color: #222;
}

.profile-pic-div {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid gray;
  cursor: pointer;
}

#photo {
  height: 100%;
  width: 100%;
}

#file {
  display: none;
}

#uploadBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
  text-align: center;
  left: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
}
